/* Market Items Section*/
:root{
    --primary:#e3e3e3;
    --secondary: #353333;
    --tertiary: #FFFFFF;
    --dark: #949494;
    --highlight: #9BD33E;
    --red: rgb(205, 0, 0);
}

body{
    width: 100%;
    background-color: var(--dark);
    margin: auto;
    padding: 0;
    font-family: sans-serif;    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    background-color: #353333;
    justify-content: space-around;
}


.card{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 10px;
        align-items: center;
        text-align: justify;
        padding: 20px;
        border-radius:  15px;
        background: linear-gradient(to top, #9BD33E 50%, white 50%);
        background-size: 100% 200%;
        transition:  all .8s;
}
.card:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(52, 255, 45);
}
img{
    width: 20px;
}
.heading{
    width: 90%;
    margin: auto;
}
