.Cart-parent{
    display: flex;
    justify-content: end;
}

.Cart-item-card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 100px
}

.Button-holder{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.Checkout-button{
    
}