* {
    font-family: 'Urbanist', sans-serif;
}
:root{
    --primary:#e3e3e3;
    --secondary: #353333;
    --tertiary: #FFFFFF;
    --dark: #949494;
    --highlight: #9BD33E;
    --red: rgb(205, 0, 0);
    }

.signupContainer{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 80px auto;
    padding: 40px;
    align-items: center;
}
.signupForm{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--dark);
    padding: 20px;
    box-shadow: 10px 10px;
}
.signupContainer h1{
    font-size: 50px;
    margin: 0 0 50px;
    color: var(--highlight);
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.inputBox{
    width: 400px;
}
span{
    color: red;
    margin: auto;
}
.submitbtn{
    width: 100px;
    margin: 10px auto 0 ;
}

