* {
    font-family: 'Urbanist', sans-serif;
}
:root{
    --primary:#e3e3e3;
    --secondary: #353333;
    --tertiary: #FFFFFF;
    --dark: #949494;
    --highlight: #9BD33E;
    --red: rgb(205, 0, 0);
    }
.likedItemsContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    background-color: var(--secondary);
    align-items: center;
}
.likedItemTitle{
    color: var(--highlight);
    margin: 30px auto; 
}
.likedItemsCardsContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    
}
.likedItemCard{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin: 0px auto 10px;
    align-items: center;
    min-width: 280px;
    max-width: 350px;
    min-height: 200px;
    max-height: 400px;
    border-radius:  15px;
    padding: 10px;
    background: linear-gradient(to top, #9BD33E 50%, white 50%);
    background-size: 100% 200%;
    transition:  all .8s;
}
.likedItemCard h1{
    font-size: 30px;
}
.likedItemCard:hover{
    background-position: left bottom;
    color: white;
    border: none;

}
.likedItemCard img{
    max-width: 200px;
    max-height: 200px;
    margin: 5px 0;
}


