/* Market Items Section*/
* {
    font-family: 'Urbanist', sans-serif;
}
:root{
    --primary:#e3e3e3;
    --secondary: #353333;
    --tertiary: #FFFFFF;
    --dark: #949494;
    --highlight: #9BD33E;
    --red: rgb(205, 0, 0);
}

body{
    
    background-color: var(--dark);
    padding: 0;
    margin: auto;
    font-family: sans-serif;    
}
.main{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
#marketItems{
    display: flex;
    flex-direction: column;
    background-color: #353333;
    width: 90%;
    margin:  40px auto ;
    padding: 0 0 30px;

}
.heading{
    color: var(--highlight);
    margin: 30px auto;   
}
.heading:hover{
    transform: rotate(-360deg) scale(3.0);
    color: #949494;
    transition: 2s;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    background-color: #353333;
    justify-content: space-around;
}

.card{
        display: flex;
        flex-direction: column;
        min-width: 280px;
        max-width: 350px;
        min-height: 350px;
        max-height: 400px;
        width: 30%;
        margin: 10px;
        align-items: center;
        padding: 20px;
        border-radius:  15px;
        background: linear-gradient(to top, #9BD33E 50%, white 50%);
        background-size: 100% 200%;
        transition:  all .8s;
}
.card:hover{
    background-position: left bottom;
    color: white;
    border: none;
}
.card p{
    max-width: 60%;
    margin: auto;
}
.card img{
    max-width: 200px;
    max-height: 200px;
    margin: 10px 0;
}


.buttonContainer button{
    font-size: 20px;
    margin: 0 10px 30px ; 
    border-radius: 20px;
    
    background-color: var(--dark);
    justify-content: center;

}

.buttonContainer button:hover{
    color:#9BD33E;
    background-color: var(--secondary);
}
@media only screen and (max-width: 800px) {
    .marketItems{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    .card{
        width: 80%;
        height: auto;
    }
    .card img{
        max-height: 150px;
    }
    .buttonContainer{
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
    }
    .buttonContainer button{
        
    }

    



}